

<style>

  .P{

  }

.active {
  background-color: #4CAF50;
}


.card-containers{
  box-sizing: border-box;
  display: flex;
  padding: 0px 0;
  justify-content: center;
  align-items: center;


}
.card-containers2{
  box-sizing: border-box;
  display: flex;
  padding: 20px 0;
  justify-content: center;
  align-items: center;
  

}
div.polaroid {
  margin: 30px;
  width: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
div.polaroid:hover{
  box-shadow: 6px 12px 10px black;
} 

div.container {
  padding: 5px;
}

a:link, a:visited {
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: green;
  color: white;
}

.p1 {
  color: #008000;
  font-family: "Lucida Handwriting", "Courier New", monospace;
}
.p2 {
  text-align: center;
  font-size: 40px;
  color: #008000;
  font-family: "Lucida Console", "Courier New", monospace;
}
</style>